<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <header>
      <h1>Todo Application</h1>
      <p class="greeting"><%= time_based_greeting %></p>
      <div class="visit-stats">
        <p>Total visits: <%= session[:visit_count] %></p>
        <p>This page visits: <%= @visit_count %></p>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Last visited: <%= time_ago_in_words(session[:last_visited]) %> ago</p>
    </footer>
  </body>
</html>
